.containerP {
  margin: 12.5rem 7vw;
}

.photosAndName {
  display: flex;
  overflow: hidden;
}

.photos {
  display: flex;
  overflow: hidden;
  width: 65%;
}

.slick {
  width: 100%;
}

.slick img {
  width: 100%;
}

.photos img {
  width: 50%;
  margin: 0 10px;
}

.titles {
  width: 32%;
  padding: 0 1.7vw;
}

.brand {
  font-family: var(--font-principal);
  font-weight: bolder;
  font-size: 1.4vw;
  margin: 16px 0 5px 0;
}

.name {
  font-family: var(--font-principal);
  margin: 0;
}

.price {
  font-family: var(--font-principal);
  font-size: 1.6vw;
  margin: 4vw 0 5px 0;
}

.imp {
  font-family: var(--font-principal);
  font-size: 14px;
  margin: 0 0 4.2vw 0;
  color: var(--color-p-light);
}

.containerButtons {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.containerButtons button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 0 10px 0 0;
  font-family: var(--font-principal);
  font-weight: bolder;
  font-size: 1vw;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.containerButtons button:hover {
  background-color: var(--color-hover-btn);
}

.containerButtons p {
  margin: 10px;
}

.containerButtons img {
  display: flex;
  width: 13%;
  padding-right: 5px;
}

.delivery {
  font-family: var(--font-principal);
  margin: 2vw 0;
}

.pay {
  font-family: var(--font-principal);
  font-size: 12px;
  color: var(--color-p-light);
}

.info {
  display: flex;
  align-items: center;
  margin-top: 5vw;
}

.details {
  font-family: var(--font-principal);
}

.info2 {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.slideLeft {
  display: flex;
  width: 65%;
}

.infoP {
  width: 50%;
  padding: 1vw 3vw 0 0;
}

.span {
  font-family: var(--font-principal);
  font-weight: bolder;
  margin: 0 0 0.2vw 0;
}

.p {
  font-family: var(--font-principal);
  margin: 0.8vw 0 2vw 0;
}

.brand2 {
  font-family: var(--font-principal);
  font-weight: bolder;
  font-size: 1.4vw;
  margin: 0 0 0.3vw 0;
}

.name2 {
  font-family: var(--font-principal);
  margin: 0 0 1.5vw 0;
}

.description {
  font-family: var(--font-principal);
  font-size: 15px;
  line-height: 135%;
}

.slideRight {
  width: 35%;
  margin: 0 0 0 1vw;
  overflow: hidden;
}

.slideRight img {
  width: 100%;
}

@media (max-width: 768px) {
  .containerP {
    margin: 9rem 7vw 3vw 7vw;
  }

  .photosAndName {
    flex-direction: column;
  }

  .photos {
    width: 100%;
  }

  .titles {
    width: 100%;
    padding: 0;
    margin-top: 8vw;
  }

  .brand {
    font-size: 6.5vw;
  }

  .name {
    font-size: 4.5vw;
    margin-bottom: 2rem;
    text-align: justify;
  }

  .price {
    font-size: 6.5vw;
    margin-bottom: 0.6rem;
  }

  .imp {
    font-size: 4vw;
    margin-bottom: 1.5rem;
    text-align: justify;
  }

  .containerButtons {
    width: 100%;
    flex-direction: column;
    margin-bottom: 1.5rem;
  }

  .containerButtons button {
    width: 100%;
    margin: 0 0 0.6rem 0;
  }

  .containerButtons p {
    font-size: 4.5vw;
  }

  .containerButtons img {
    width: 8%;
    padding: 0;
  }

  .pay {
    font-size: 4vw;
    text-align: justify;
    margin: 0;
  }

  .slideRight {
    display: none;
  }

  .slideLeft {
    width: 100%;
    flex-direction: column;
  }

  .infoP {
    width: 100%;
  }

  .brand2 {
    font-size: 6.5vw;
    margin-bottom: 0.3rem;
  }

  .name2 {
    font-size: 4.5vw;
    margin-bottom: 1.5rem;
    text-align: justify;
  }

  .description {
    font-size: 4.3vw;
    text-align: justify;
  }

  .infoP {
    margin-top: 0.5rem;
  }

  .span {
    font-size: 4vw;
  }

  .p {
    font-size: 4vw;
    margin: 1rem 0;
  }
}
