.container {
  margin: 10.9rem 7vw;
  display: flex;
}

.sideLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  overflow: hidden;
}

.sideLeft img {
  width: 100%;
  height: auto;
}

.sideRigth {
  display: flex;
  width: 60%;
}

.content {
  width: 100%;
  padding: 1.5rem 0 0 3rem;
}

.form {
  padding: 1.1rem 0;
  width: 100%;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.formGroup label {
  font-family: var(--font-principal);
  font-size: 1.1rem;
}

.formGroup input {
  font-family: var(--font-principal);
  font-weight: bolder;
  width: 40%;
  margin: 1.2rem 0;
  padding: 0.7rem;
  border-radius: 7px;
  outline: none;
  border-color: var(--color-grey-input);
}

.passwordButton {
  display: flex;
  align-items: center;
}

.passwordButton input {
  margin-right: 1rem;
}

.passwordButton button {
  display: flex;
  align-items: center;
  border: 2px solid var(--color-grey-input);
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.passwordButton img {
  padding: 3px;
}

.title h2 {
  font-family: var(--font-title);
  font-size: 1.8rem;
  margin-bottom: 2.1rem;
}

.buttons {
  border-bottom: 2px solid var(--color-line-button);
  opacity: 1;
}

.buttons button {
  display: inline-block;
  background-color: transparent;
  border: none;
  font-family: var(--font-principal);
  font-size: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  padding: 0.5rem;
}

.buttons .select {
  border-bottom: 2px solid var(--color-black);
}

.textPassword {
  margin: 0.5rem 0 1.5rem 0;
  width: 44%;
  font-family: var(--font-principal);
  font-size: 0.9rem;
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.2s ease;
}

.textPassword:hover {
  color: var(--color-grey-input);
}

.buttonLogin {
  font-family: var(--font-principal);
  color: white;
  background-color: var(--color-black);
  border-radius: 7px;
  font-weight: bolder;
  font-size: 15px;
  padding: 0.5rem 0;
  width: 43%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.buttonLogin:hover {
  color: var(--color-black);
  background-color: var(--color-hover-btn);
}

.text {
  display: flex;
  width: 43%;
  margin: 1.5rem 0;
  align-items: center;
  justify-content: center;
}

.buttonLoginGoogle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-principal);
  color: var(--color-black);
  background-color: transparent;
  border-radius: 7px;
  font-weight: bolder;
  font-size: 15px;
  padding: 0.5rem 0;
  width: 43%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttonLoginGoogle:hover {
  background-color: var(--color-hover-btn);
}

.buttonLoginGoogle img {
  width: 1.5rem;
}

.buttonLoginGoogle p {
  margin: 0 0.5rem;
}

.textPassword2 {
  width: 50%;
  margin: 2rem 0;
  font-family: var(--font-principal);
  font-size: 0.9rem;
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.2s ease;
}

.textPassword2:hover {
  color: var(--color-grey-input);
}

@media (max-width: 768px) {
  .sideLeft {
    display: none;
  }

  .sideRigth {
    width: 100%;
  }

  .container {
    margin: 7.3rem 7vw;
  }

  .content {
    padding: 0;
  }

  .formGroup {
    width: 100%;
  }

  .formGroup input {
    width: 90%;
  }

  .passwordButton {
    width: 100%;
  }

  .textPassword {
    width: 100%;
  }

  .buttonLogin {
    width: 100%;
  }

  .text {
    width: 100%;
  }

  .buttonLoginGoogle {
    width: 100%;
  }

  .textPassword2 {
    width: 100%;
  }
}
