.containerP {
  margin: 12.5rem 7vw;
}

.title h2 {
  font-family: var(--font-title);
  font-weight: bolder;
  font-size: 2.1vw;
  margin-bottom: 2vw;
}

.title p,
span {
  font-family: var(--font-principal);
}

.title span {
  line-height: 140%;
}

.title button {
  font-family: var(--font-principal);
  font-size: 14px;
  font-weight: bold;
  background-color: transparent;
  border-radius: 10px;
  padding: 13px;
  margin-top: 1.4vw;
  margin-bottom: 4vw;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.title button:hover {
  background-color: var(--color-hover-btn);
}

.containerInfoAndPrice {
  display: flex;
  align-items: center;
}

.conLeft {
  width: 65%;
}

.conRigth {
  width: 35%;
}

.products {
  display: flex;
  border-top: 1px solid var(--color-grey-input);
}

.prodSlideLeft {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgP a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgP {
  flex: 1;
}

.productInfo {
  flex: 2;
  padding: 2.5vw;
}

.productPrice {
  flex: 1;
}

.imgP img {
  width: 50%;
  padding: 1.5vw;
}

.brand {
  font-family: var(--font-principal);
  font-weight: bolder;
  font-size: 1.2vw;
  margin: 0;
}

.name {
  font-family: var(--font-principal);
  margin: 7px 0 15px 0;
}

.idP {
  font-family: var(--font-principal);
  font-weight: bolder;
  margin: 10px 0;
}

.id {
  font-family: var(--font-principal);
  margin: 0;
}

.productPrice {
  display: flex;
  padding: 2vw;
  align-items: center;
  justify-content: center;
}

.productPrice p {
  font-family: var(--font-principal);
}

.deleteButtonCont {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1vw;
}

.deleteButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: transparent;
  border: none;
  border-radius: 20%;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.deleteButton:hover {
  background-color: var(--color-hover-btn);
}

.deleteButton img {
  width: 1rem;
}