.containerP {
  margin: 12.5rem 7vw;
}

.title {
  margin-bottom: 1rem;
}

.title h2 {
  font-family: var(--font-title);
  font-weight: bolder;
  font-size: 1.7rem;
}

.containerInfoAndPrice {
  display: flex;
}

.conLeft {
  width: 100%;
}

.conRigth {
  width: 35%;
}

.products {
  display: flex;
  border-top: 1px solid var(--color-grey-input);
}

.prodSlideLeft {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgP a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgP {
  flex: 1;
}

.productInfo {
  flex: 2;
  padding: 2.5vw 0 2.5vw 2.5vw;
}

.productPrice {
  flex: 1;
  padding: 0 1vw;
}

.imgP img {
  width: 45%;
  padding: 1.5vw;
}

.brand {
  font-family: var(--font-principal);
  font-weight: bolder;
  font-size: 1.2vw;
  margin: 0;
}

.name {
  font-family: var(--font-principal);
  margin: 7px 0 15px 0;
}

.idP {
  font-family: var(--font-principal);
  font-weight: bolder;
  margin: 10px 0;
}

.id {
  font-family: var(--font-principal);
  margin: 0;
}

.productPrice {
  display: flex;
  padding: 2vw;
  align-items: center;
  justify-content: center;
}

.productPrice p {
  font-family: var(--font-principal);
}

.deleteButtonCont {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2vw;
}

.deleteButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: transparent;
  border: none;
  border-radius: 20%;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.deleteButton:hover {
  background-color: var(--color-hover-btn);
}

.deleteButton img {
  width: 1rem;
}

.conRigth {
  width: 30%;
  padding-left: 2.3rem;
}

.contLeftT {
  width: 100%;
  margin-bottom: 1.3rem;
}

.resumen {
  font-family: var(--font-principal);
  font-size: 1.3rem;
}

.subtotal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-principal);
}

.subtotal p {
  margin: 1rem 0 0.7rem 0;
}

.contRigthT {
  border-top: 1px solid var(--color-grey-input);
  padding: 2rem 0;
}

.priceT {
  width: 70%;
  text-align: right;
}

.total {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-family: var(--font-principal);
}

.totalP {
  width: 30%;
}

.total p {
  margin: 0;
}

.total span {
  font-size: 0.8rem;
  font-weight: lighter;
}

.buttonT button {
  display: inline-block;
  width: 100%;
  padding: 0.7rem 0.5rem;
  background-color: var(--color-black);
  color: white;
  border-radius: 10px;
  font-family: var(--font-principal);
  font-weight: bolder;
  cursor: pointer;
  transition: all 0.3s ease;
}

.buttonT button:hover {
  background-color: var(--color-hover-btn);
  color: var(--color-black);
}

.alert0 p {
  font-family: var(--font-principal);
  margin: 0.4rem 0; 
}

.alert0 button {
  margin: 1.3rem 0;
  font-family: var(--font-principal);
  font-weight: bolder;
  padding: 0.8rem 1rem;
  background-color: var(--color-black);
  border-radius: 7px;
  color: white;
  transition: all 0.3s ease;
  cursor: pointer;
}

.alert0 button:hover {
  background-color: var(--color-hover-btn);
  color: var(--color-black);
}