.container {
  margin: 12.5rem 7vw;
}

.title {
  font-family: var(--font-title);
  font-size: 20px;
}

@media (max-width: 768px) {
    .container {
        margin: 9rem 7vw;
    }

    .title {
        font-size: 15px;
    }
}